@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  background: rgba(45,176,224,1);
  background: -moz-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45,176,224,1)), color-stop(100%, rgba(96,40,168,1)));
  background: -webkit-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: -o-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1 );
}

.home {
  width: 80%;
  height: 80%; 
  padding: 10px; 
  background-color: rgba(86, 61, 124, .5);
}

.about {
  width: 80%;
  height: 80%;
  padding: 10px;
  background-color: rgba(176, 167, 199, .4);
}

.tableTSOD {
  width: 80%;
  height: 80%;
  padding: 10px;
  background-color: rgba(176, 167, 199, .4);
}

.tableFlows {
  width: 80%;
  height: 80%;
  padding: 10px;
  background-color: rgba(176, 167, 199, .4);
}
